---
layout: null
---

@import url("pygment_highlights.css");

.box-mission{
  padding: 0.9375rem 0.9375rem 0.9375rem 0.625rem;
  margin: 1.25rem 1.25rem 1.25rem 0.3125rem;
  border: 1px ridge #eee;
  border-width: 0.3125rem;
  border-radius: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
}

.box-mission {
  background-color: #d6c7a9;
  border-color: #bea677;
}


.navbar-custom.top-nav-regular .avatar-container .avatar-img {
  width: 200%;
}