---
layout: null
---

@import url("pygment_highlights.css");

.box-mission

.box-mission {
  background-color: #e0c9a6;

  padding: 0.9375rem 0.9375rem 0.9375rem 0.625rem;
  /* border-left: 0.3125rem solid #8f7644; */
}
